<%= form_with(model: witch, local: true) do |form| %>
  <% if witch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(witch.errors.count, "error") %> prohibited this witch from being saved:</h2>

      <ul>
      <% witch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :superpower %>
    <%= form.text_field :superpower %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
