<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @witch.name %>
</p>

<p>
  <strong>Superpower:</strong>
  <%= @witch.superpower %>
</p>

<%= link_to 'Edit', edit_witch_path(@witch) %> |
<%= link_to 'Back', witches_path %>
