<h1>New Wizard</h1>


<%= form_for(@wizard) do |form| %>

    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Aidan" %>
    
    <%= form.label :title %>
    <%= form.text_field :title %>

    <%= form.label :age %>
    <%= form.number_field :age %>

    <%= form.submit %>
<% end %>

<%= link_to 'Back', wizards_path %>
